$color-black: #0f181a;
$color-blue: #2b59c3;
$color-blue-dark: #253c78;
$color-blue-light: #d7f9ff;
$color-grey: #56778a;
$color-grey-ui: #ededed;
$color-linen: #ffede1;
$color-red: #d83148;
$color-white: #fffbfa;
$color-yellow: #f9fbf2;
